<div class="jumbotron jumbotron-fluid m-0 p-0">
  <div
    class="container-fluid p-0"
    style="margin-bottom: 10rem; position: relative"
  >
    <div class="rounded-img circle-image">
      <img
        src="https://cdn.singulart.com/artists/pictures/cropped/artwork/base/artist_artwork_1647_ba964e906901ecde5a3fc4496de3d90f.jpeg"
        class="rounded-circle"
        width="250px"
        height="250px"
        style="
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
          border: 3px solid black;
          object-fit: cover;
        "
      />
      <div class="change-avatar">
        <label for="file-upload"
          ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
        </label>
        <input #file id="file-upload" type="file" />
      </div>
    </div>
    <div class="change-bg">
      <label for="file-upload" class="btn btn-light custom-file-upload mb-0"
        ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
        Chỉnh sửa ảnh bìa
      </label>
      <input #file id="file-upload" type="file" />
    </div>
    <ngb-carousel
      [showNavigationArrows]="false"
      [showNavigationIndicators]="false"
    >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="https://cdn.singulart.com/artists/pictures/cropped/studio/base/artist_studio_1647_86d10186556c5e046c57e679ab7e736e.jpeg"
          />
        </div>
        <div class="carousel-caption cover-img">
          <h3>SƠN DẦU | VIỆT NAM</h3>
          <h1>BÙI VĂN PHÁI</h1>
          <p>Born in 1948</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="container position-relative p-0">
    <div
      class="desc position-relative pb-5"
      data-aos="fade-up"
      *ngIf="!editDescription"
    >
      <div
        class="edit-description-icon"
        placement="bottom"
        ngbTooltip="Chỉnh sửa"
        *ngIf="!editDescription"
        (click)="editDescription = true"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
      <h1
        class="d-flex justify-content-between align-items-center best-pictures-header mb-5"
        *ngIf="!editDescription"
      >
        <hr style="background-color: grey; width: 150px; margin-right: 2rem" />
        Giới thiệu
        <hr style="background-color: grey; width: 150px; margin-left: 2rem" />
      </h1>

      <div class="row" *ngIf="!editDescription">
        <div class="col-sm-4 artist-background">
          <h3>Tiểu sử</h3>
          <p>
            {{ background }}
          </p>
        </div>
        <div class="col-sm-4 artist-background">
          <h3>Quan điểm nghệ thuật</h3>
          <p>
            {{ pointOfView }}
          </p>
          <br />
          <h3>Sự kiện nghệ thuật nổi bật</h3>
          <p>
            {{ events }}
          </p>
        </div>
        <div class="col-sm-4">
          <img
            src="https://cdn.singulart.com/artists/pictures/cropped/body/base/artist_body_1647_30201306009efd5afa7773aecde0f861.jpeg"
            width="100%"
            height="100%"
            style="object-fit: cover"
          />
        </div>
      </div>
    </div>
    <div class="edit-des-form pb-5" data-aos="fade-up" *ngIf="editDescription">
      <form
        class="form"
        #editDescForm="ngForm"
        (ngSubmit)="onSaveEditedContent('des', editDescForm)"
      >
        <div
          class="input-group"
          [ngStyle]="{
            'margin-bottom': bg.value?.length <= 150 ? '10px' : '20px'
          }"
        >
          <textarea
            type="text"
            rows="5"
            name="background"
            minlength="150"
            required
            [ngModel]="background"
            #bg="ngModel"
            [ngStyle]="{
              'margin-bottom': bg.value?.length <= 150 ? '0px' : '20px'
            }"
          ></textarea>
          <label> <i class="fa fa-user mr-1"></i> Tiểu sử</label>
        </div>
        <p class="text-hint" *ngIf="bg.value?.length <= 150">
          Ít nhất 150 kí tự: {{ bg.value?.length }}/150
        </p>
        <div
          class="input-group"
          [ngStyle]="{
            'margin-bottom': pov.value?.length <= 150 ? '10px' : '20px'
          }"
        >
          <textarea
            type="text"
            rows="5"
            name="pointOfView"
            required
            minlength="100"
            [ngModel]="pointOfView"
            [ngStyle]="{
              'margin-bottom': pov.value?.length <= 150 ? '0px' : '20px'
            }"
            #pov="ngModel"
          ></textarea>

          <label> <i class="fa fa-user mr-1"></i> Quan điểm nghệ thuật</label>
        </div>
        <p class="text-hint" *ngIf="pov.value?.length <= 150">
          Ít nhất 150 kí tự: {{ pov.value?.length }}/150
        </p>
        <div
          class="input-group"
          [ngStyle]="{
            'margin-bottom': bigEvents.value?.length <= 150 ? '10px' : '20px'
          }"
        >
          <textarea
            type="text"
            rows="5"
            name="events"
            minlength="100"
            required
            [ngModel]="events"
            #bigEvents="ngModel"
            [ngStyle]="{
              'margin-bottom': bigEvents.value?.length <= 150 ? '0px' : '20px'
            }"
          ></textarea>

          <label>
            <i class="fa fa-user mr-1"></i> Sự kiện nghệ thuật nổi bật</label
          >
        </div>
        <p class="text-hint" *ngIf="bigEvents.value?.length <= 100">
          Ít nhất 100 kí tự: {{ bigEvents.value?.length }}/100
        </p>
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="submit-btn mr-4"
            [disabled]="!editDescForm.valid"
          >
            Cập nhật
          </button>
          <button
            type="button"
            class="submit-btn"
            (click)="editDescription = false"
          >
            Hủy bỏ
          </button>
        </div>
      </form>
    </div>

    <div class="workflow-editable">
      <div class="workflow position-relative">
        <span
          class="alt-line"
          *ngIf="!editWorkflow1 && !editWorkflow2 && !editWorkflow3"
          data-aos="fade-down"
        ></span>
        <span class="main-line"></span>
        <div class="workflow-item">
          <div class="position-relative" *ngIf="!editWorkflow1">
            <div
              class="edit-description-icon"
              style="right: 7%; top: 5%; z-index: 1"
              placement="bottom"
              ngbTooltip="Chỉnh sửa"
              (click)="editWorkflow1 = true"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="row workflow-item-content">
              <div class="col-sm-6 pl-0 pr-5 pt-5 pb-5 workflow-image">
                <img
                  [src]="workflowImages[0]"
                  class="img-fluid"
                  data-aos="fade-right"
                />
              </div>
              <div class="col-sm-6 workflow-text">
                <span class="circle"></span>
                <span class="circle-line" data-aos="zoom-in"></span>
                <div class="year">{{ stages[0] }}</div>
                <div class="main-text" data-aos="fade-left">
                  <span class="workflow-caption">{{ workflowTitle1[0] }}</span>
                  <h2>{{ workflowTitle2[0] }}</h2>
                  <span class="text">{{ workflowDescription[0] }}</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="edit-des-form py-5"
            data-aos="fade-up"
            *ngIf="editWorkflow1"
          >
            <form
              class="form"
              #editWorkflowForm1="ngForm"
              (ngSubmit)="onSaveEditedContent('workflow1', editWorkflowForm1)"
            >
              <div class="row">
                <div class="col-sm-4 workflow-image-container">
                  <img
                    [src]="workflowImages[0]"
                    class="img-fluid workflow-image"
                    height="400px"
                  />
                  <div class="change-workflow-image">
                    <label for="file-upload" class="btn upload-btn mt-3"
                      ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
                      Tải ảnh lên
                    </label>
                    <input
                      #file
                      id="file-upload"
                      type="file"
                      name="workflow-image-link-1"
                      [ngModel]="workflowImages[0]"
                    />
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input
                      type="text"
                      name="stage1"
                      [ngModel]="stages[0]"
                      required
                    />
                    <label
                      ><i class="mr-1 fa fa-calendar-o" aria-hidden="true"></i>
                      Mốc sự kiện 1</label
                    >
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      name="minititle1"
                      required
                      [ngModel]="workflowTitle1[0]"
                    />
                    <label>
                      <i class="mr-1 fa fa-flag" aria-hidden="true"></i> Tiêu đề
                      nhỏ 1</label
                    >
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      name="bigTitle1"
                      required
                      [ngModel]="workflowTitle2[0]"
                    />
                    <label>
                      <i class="mr-1 fa fa-bookmark-o" aria-hidden="true"></i>
                      Tiêu đề lớn 1</label
                    >
                  </div>
                  <div
                    class="input-group"
                    [ngStyle]="{
                      'margin-bottom':
                        workflowDes1.value?.length <= 150 ? '0px' : '20px'
                    }"
                  >
                    <textarea
                      type="text"
                      name="des1"
                      rows="5"
                      minlength="150"
                      required
                      #workflowDes1="ngModel"
                      [ngModel]="workflowDescription[0]"
                    ></textarea>
                    <label>
                      <i class="mr-1 fa fa-comments" aria-hidden="true"></i> Mô
                      tả 1</label
                    >
                  </div>
                  <p
                    class="text-hint"
                    *ngIf="workflowDes1.value?.length <= 150"
                  >
                    Ít nhất 150 kí tự: {{ workflowDes1.value?.length }}/150
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="submit-btn mr-4"
                  [disabled]="!editWorkflowForm1.valid"
                >
                  Cập nhật
                </button>
                <button
                  type="button"
                  class="submit-btn"
                  (click)="editWorkflow1 = false"
                >
                  Hủy bỏ
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="workflow-item">
          <div class="position-relative" *ngIf="!editWorkflow2">
            <div
              class="edit-description-icon"
              style="left: 7%; top: 5%; z-index: 1"
              placement="bottom"
              ngbTooltip="Chỉnh sửa"
              (click)="editWorkflow2 = true"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="row workflow-item-content">
              <div class="col-sm-6 workflow-text">
                <span class="circle-2"></span>
                <span class="circle-line-2" data-aos="zoom-in"></span>
                <div class="year-2">{{ stages[1] }}</div>
                <div class="main-text" data-aos="fade-right">
                  <span class="workflow-caption">{{ workflowTitle1[1] }}</span>
                  <h2>{{ workflowTitle2[1] }}</h2>
                  <span class="text">{{ workflowDescription[1] }}</span>
                </div>
              </div>
              <div class="col-sm-6 pr-0 pl-5 pt-5 pb-5 workflow-image">
                <img
                  [src]="workflowImages[1]"
                  class="img-fluid"
                  data-aos="fade-left"
                />
              </div>
            </div>
          </div>
          <div
            class="edit-des-form py-5"
            data-aos="fade-up"
            *ngIf="editWorkflow2"
          >
            <form
              class="form"
              #editWorkflowForm2="ngForm"
              (ngSubmit)="onSaveEditedContent('workflow2', editWorkflowForm2)"
            >
              <div class="row">
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" name="stage2" [ngModel]="stages[1]" />
                    <label
                      ><i class="mr-1 fa fa-calendar-o" aria-hidden="true"></i>
                      Mốc sự kiện 2</label
                    >
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      name="minititle2"
                      required
                      [ngModel]="workflowTitle1[1]"
                    />
                    <label>
                      <i class="mr-1 fa fa-flag" aria-hidden="true"></i> Tiêu đề
                      nhỏ 2</label
                    >
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      name="bigTitle2"
                      required
                      [ngModel]="workflowTitle2[1]"
                    />
                    <label>
                      <i class="mr-1 fa fa-bookmark-o" aria-hidden="true"></i>
                      Tiêu đề lớn 2</label
                    >
                  </div>
                  <div
                    class="input-group"
                    [ngStyle]="{
                      'margin-bottom':
                        workflowDes2.value?.length <= 150 ? '0px' : '20px'
                    }"
                  >
                    <textarea
                      type="text"
                      name="des2"
                      rows="5"
                      minlength="150"
                      #workflowDes2="ngModel"
                      required
                      [ngModel]="workflowDescription[1]"
                    ></textarea>
                    <label>
                      <i class="mr-1 fa fa-comments" aria-hidden="true"></i> Mô
                      tả 2</label
                    >
                  </div>
                  <p
                    class="text-hint"
                    *ngIf="workflowDes2.value?.length <= 150"
                  >
                    Ít nhất 150 kí tự: {{ workflowDes2.value?.length }}/150
                  </p>
                </div>
                <div class="col-sm-4 workflow-image-container">
                  <img
                    [src]="workflowImages[1]"
                    class="img-fluid workflow-image"
                    height="400px"
                  />
                  <div class="change-workflow-image">
                    <label for="file-upload" class="btn upload-btn mt-3"
                      ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
                      Tải ảnh lên
                    </label>
                    <input
                      #file
                      id="file-upload"
                      type="file"
                      name="workflow-image-link-2"
                      [ngModel]="workflowImages[1]"
                    />
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="submit-btn mr-4"
                  [disabled]="!editWorkflowForm2.valid"
                >
                  Cập nhật
                </button>
                <button
                  type="button"
                  class="submit-btn"
                  (click)="editWorkflow2 = false"
                >
                  Hủy bỏ
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="workflow-item">
          <div class="position-relative" *ngIf="!editWorkflow3">
            <div
              class="edit-description-icon"
              style="right: 7%; top: 5%; z-index: 1"
              placement="bottom"
              ngbTooltip="Chỉnh sửa"
              (click)="editWorkflow3 = true"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="row workflow-item-content">
              <div class="col-sm-6 pl-0 pr-5 pt-5 pb-5 workflow-image">
                <img
                  [src]="workflowImages[2]"
                  class="img-fluid"
                  data-aos="fade-right"
                />
              </div>
              <div class="col-sm-6 workflow-text">
                <span class="circle"></span>
                <span class="circle-line" data-aos="zoom-in"></span>
                <div class="year">{{ stages[2] }}</div>
                <div class="main-text" data-aos="fade-left">
                  <span class="workflow-caption">{{ workflowTitle1[2] }}</span>
                  <h2>{{ workflowTitle2[2] }}</h2>
                  <span class="text">{{ workflowDescription[2] }}</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="edit-des-form py-5"
            data-aos="fade-up"
            *ngIf="editWorkflow3"
          >
            <form
              class="form"
              #editWorkflowForm3="ngForm"
              (ngSubmit)="onSaveEditedContent('workflow3', editWorkflowForm3)"
            >
              <div class="row">
                <div class="col-sm-4 workflow-image-container">
                  <img
                    [src]="workflowImages[2]"
                    class="img-fluid workflow-image"
                    height="400px"
                  />
                  <div class="change-workflow-image">
                    <label for="file-upload" class="btn upload-btn mt-3"
                      ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
                      Tải ảnh lên
                    </label>
                    <input
                      #file
                      id="file-upload"
                      type="file"
                      name="workflow-image-link-3"
                      [ngModel]="workflowImages[2]"
                    />
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input
                      type="text"
                      name="stage3"
                      required
                      [ngModel]="stages[2]"
                    />
                    <label
                      ><i class="mr-1 fa fa-calendar-o" aria-hidden="true"></i>
                      Mốc sự kiện 3</label
                    >
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      name="minititle3"
                      required
                      [ngModel]="workflowTitle1[2]"
                    />
                    <label>
                      <i class="mr-1 fa fa-flag" aria-hidden="true"></i> Tiêu đề
                      nhỏ 3</label
                    >
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      name="bigTitle3"
                      required
                      [ngModel]="workflowTitle2[2]"
                    />
                    <label>
                      <i class="mr-1 fa fa-bookmark-o" aria-hidden="true"></i>
                      Tiêu đề lớn 3</label
                    >
                  </div>
                  <div
                    class="input-group"
                    [ngStyle]="{
                      'margin-bottom':
                        workflowDes3.value?.length <= 150 ? '0px' : '20px'
                    }"
                  >
                    <textarea
                      type="text"
                      name="des3"
                      rows="5"
                      minlength="150"
                      #workflowDes3="ngModel"
                      required
                      [ngModel]="workflowDescription[2]"
                    ></textarea>
                    <label>
                      <i class="mr-1 fa fa-comments" aria-hidden="true"></i> Mô
                      tả 3</label
                    >
                  </div>
                  <p
                    class="text-hint"
                    *ngIf="workflowDes3.value?.length <= 150"
                  >
                    Ít nhất 150 kí tự: {{ workflowDes3.value?.length }}/150
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="submit-btn mr-4"
                  [disabled]="!editWorkflowForm3.valid"
                >
                  Cập nhật
                </button>
                <button
                  type="button"
                  class="submit-btn"
                  (click)="editWorkflow3 = false"
                >
                  Hủy bỏ
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" data-aos="fade-up">
    <h1
      class="d-flex justify-content-between align-items-center best-pictures-header"
    >
      <hr style="background-color: grey; width: 150px; margin-right: 2rem" />
      Các tác phẩm nổi bật
      <hr style="background-color: grey; width: 150px; margin-left: 2rem" />
    </h1>
    <div class="best-pictures">
      <div class="row" style="height: 550px">
        <div class="col-sm-4 h-100">
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/7079/main/fhd/699155_7a44ada093de4188001d2ee6acd716a1.jpeg"
            class="img-fluid h-100"
          />
        </div>
        <div class="col-sm-4 h-100 d-flex flex-column justify-content-between">
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/20719/main/fhd/689727_84868fb97cf1fd297c11970d59acff75.jpeg"
            class="w-100"
            height="250px"
          />
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/20719/main/fhd/689677_5cd51f20d4712d9dc2aed89c96957c08.jpeg"
            class="w-100"
            height="250px"
          />
        </div>
        <div class="col-sm-4 h-100">
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/7079/main/fhd/718427_fde03cd014615937c13d95335d329374.jpeg"
            class="img-fluid h-100"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <mdb-carousel
      class="review-wrapper"
      [animation]="'slide'"
      [interval]="'50000000000'"
    >
      <mdb-carousel-item>
        <div class="mask d-block w-100" data-aos="fade-up"></div>
        <div
          class="edit-quote-icon"
          placement="bottom"
          ngbTooltip="Chỉnh sửa"
          *ngIf="!editQuote"
          (click)="editQuote = true"
          data-aos="fade-up"
        >
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div
          class="carousel-caption reviews"
          data-aos="fade-up"
          *ngIf="!editQuote"
        >
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="24.615px"
            height="18.233px"
            viewBox="0 0 24.615 18.233"
            enable-background="new 0 0 24.615 18.233"
            xml:space="preserve"
          >
            <g>
              <path
                fill="#4E4E4E"
                d="M19.542,0.007c-1.33,0.165-1.92,0.869-3,3.15v0.75c0,0,3.899,1.604,4.283,4.476
                                    c0.383,2.862-0.953,6.567-7.658,8.499v1.352c0,0,7.399-1.41,10.342-7.426C27.035,3.596,21.148-0.192,19.542,0.007z"
              ></path>
              <path
                fill="#4E4E4E"
                d="M6.375,0.007c-1.33,0.165-1.92,0.869-3,3.15v0.75c0,0,3.899,1.604,4.283,4.476
                                    C8.041,11.245,6.705,14.95,0,16.882v1.352c0,0,7.399-1.41,10.342-7.426C13.868,3.596,7.981-0.192,6.375,0.007z"
              ></path>
            </g>
          </svg>
          <p>
            {{ quote }}
          </p>
          <h6>{{ quoteAuthor }}</h6>
        </div>
        <div
          class="carousel-caption reviews"
          data-aos="fade-up"
          *ngIf="editQuote"
        >
          <form
            class="form"
            #editQuoteForm="ngForm"
            (ngSubmit)="onSaveEditedContent('quote', editQuoteForm)"
          >
            <div class="input-group">
              <textarea
                type="text"
                rows="5"
                name="quote"
                minlength="10"
                required
                [ngModel]="quote"
                #favQuote="ngModel"
                [ngStyle]="{
                  'margin-bottom': favQuote.value?.length <= 10 ? '0px' : '30px'
                }"
              ></textarea>
              <label for="loginUser">
                <i class="fa fa-user mr-1"></i> Danh ngôn yêu thích của
                bạn</label
              >
            </div>
            <span class="text-hint" *ngIf="favQuote.value?.length <= 10">
              Ít nhất 10 kí tự: {{ favQuote.value?.length }}/10
            </span>
            <div class="input-group">
              <input
                type="text"
                name="author"
                required
                [ngModel]="quoteAuthor"
              />
              <label for="loginPassword"
                ><i class="fa fa-lock mr-1"></i> Tác giả</label
              >
            </div>
            <button
              type="submit"
              class="submit-btn mr-4"
              [disabled]="!editQuoteForm.valid"
            >
              Cập nhật
            </button>
            <button
              type="button"
              class="submit-btn"
              (click)="editQuote = false"
            >
              Hủy bỏ
            </button>
          </form>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
