h1,
h2,
h3,
h4,
p {
  font-family: "Open Sans", sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #b49871;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
.jumbotron {
  background-color: #f8f8f8 !important;
}

/* style the form */
form label {
  color: #937641;
  font-size: 1.1rem;
}
form input:focus {
  outline: none !important;
  border: 1px solid #937641;
  box-shadow: none !important;
}
form textarea:focus {
  outline: none !important;
  border: 1px solid #937641;
  box-shadow: none !important;
}

.change-images {
  margin-top: 2rem;
}

/* style preview section */
.cover-img {
  left: 0% !important;
  right: 0% !important;
  top: 0%;
  bottom: 0%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.cover-img h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #ffb45a;
  font-weight: 500;
}
.cover-img h1 {
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-weight: 500 !important;
}
.cover-img p {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #d7d7d7;
  text-align: center;
  letter-spacing: 2px;
}

.mask {
  height: 500px;
  background-color: transparent !important;
  color: #525252;
}
.carousel-caption.reviews {
  height: 100%;
  width: 55%;
  bottom: 0;
  left: 22.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #525252;
}
.reviews p {
  color: #c9ab81;
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.reviews h6 {
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  color: #525252;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
}

h1.best-pictures-header {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  color: #525252;
  letter-spacing: 0.15rem;
  text-align: center;
  opacity: 0.7 !important;
}
.best-pictures img {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.circle-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20%;
  z-index: 100;
}

.artist-background {
  font-family: "EB Garamond", serif;
  color: #181818;
}
.artist-background h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.artist-background p {
  font-size: 1rem;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 12px 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: white !important;
  border-radius: 6px !important;
  border: none;
  position: absolute;
  bottom: 5%;
  right: 2%;
  z-index: 100;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.custom-file-upload:hover {
  background-color: #aaa;
}

.change-avatar {
  position: absolute;
  right: 0;
  bottom: 12%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.4s;
}
.change-avatar label {
  cursor: pointer;
  margin-bottom: 0;
}
.change-avatar:hover {
  background-color: #aaa;
}

.edit-quote-icon {
  position: absolute;
  right: 10%;
  top: 20%;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #d3d3d3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.edit-quote-icon:hover {
  background-color: #aaa;
}

.form {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 600px;
  padding: 70px 60px 50px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #b49871;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  overflow: visible;
}
.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

.form .input-group {
  position: relative;
  margin-bottom: 2rem;
}
.form .input-group input,
.form .input-group textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #937641;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1.1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label,
.form .input-group textarea:focus + label,
.form .input-group textarea:valid + label {
  transform: translateY(-2.5rem) !important;
  color: #796a37;
  font-size: 1.3rem;
}
.submit-btn {
  border: none;
  outline: none;
  background: #d19a4d;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #c9ab81;
}

.edit-description-icon {
  position: absolute;
  right: -5%;
  top: 0%;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #d3d3d3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.edit-description-icon:hover {
  background-color: #aaa;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
button:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.alt-line {
  background-color: #4e4e4e;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  right: 50%;
  top: 3rem;
  height: calc(100% - 4%);
  width: 1px;
  transition: 0.3s ease-in;
}
.circle {
  border-color: #4e4e4e;
  background-color: #4e4e4e;
  margin: 0 0 0 -5px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 9px;
  width: 9px;
  left: 0%;
  position: absolute;
  top: 140px;
  transform: translateY(-50%);
}
.circle-line {
  background-color: #4e4e4e;
  display: block;
  width: 70px;
  height: 1px;
  position: absolute;
  left: calc(0% + 4px);
  top: 140px;
  z-index: 9;
}
.year {
  position: absolute;
  left: calc(8% + 3rem);
  top: 140px;
  transform: translateY(-50%);
  font-family: "EB Garamond";
  font-size: 22px;
  line-height: 1.31em;
  letter-spacing: 0.16em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #525252;
}
.circle-2 {
  border-color: #4e4e4e;
  background-color: #4e4e4e;
  margin: 0 0 0 -5px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 9px;
  width: 9px;
  right: -0.7%;
  position: absolute;
  top: 140px;
  transform: translateY(-50%);
}
.circle-line-2 {
  background-color: #4e4e4e;
  display: block;
  width: 70px;
  height: 1px;
  position: absolute;
  right: calc(0% + 4px);
  top: 140px;
  z-index: 9;
}
.year-2 {
  position: absolute;
  right: calc(8% + 3rem);
  top: 140px;
  transform: translateY(-50%);
  font-family: "EB Garamond";
  font-size: 22px;
  line-height: 1.31em;
  letter-spacing: 0.16em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #525252;
}
span.workflow-caption {
  font-family: "EB Garamond";
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.47em;
  color: #c9ab81;
}
.workflow-text {
  padding: 12rem 8% 0 8.5%;
}
.main-text h2 {
  margin: 6px 0 14px 0;
  font-family: "EB Garamond";
  text-transform: uppercase;
  color: #525252;
  font-size: 2rem;
  line-height: 1.17em;
  letter-spacing: 0.16em;
}
span.text {
  display: block;
  font-family: "EB Garamond";
  font-size: 17px;
  font-weight: 400;
  line-height: 1.58em;
  letter-spacing: 0;
  color: #5f5f5f;
}

/* style workflow edit form */
.editWorkflowForm {
  max-width: none;
  margin: 0;
}
