<div class="jumbotron jumbotron-fluid m-0 p-0">
  <div
    class="container-fluid p-0"
    style="margin-bottom: 10rem; position: relative"
  >
    <div class="rounded-img circle-image">
      <img
        src="https://cdn.singulart.com/artists/pictures/cropped/artwork/base/artist_artwork_1647_ba964e906901ecde5a3fc4496de3d90f.jpeg"
        class="rounded-circle"
        width="230px"
        height="250px"
        style="
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
          border: 3px solid black;
        "
      />
      <div class="change-avatar">
        <label for="file-upload"
          ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
        </label>
        <input #file id="file-upload" type="file" />
      </div>
    </div>
    <div class="change-bg">
      <label for="file-upload" class="btn btn-light custom-file-upload mb-0"
        ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
        Chỉnh sửa ảnh bìa
      </label>
      <input #file id="file-upload" type="file" />
    </div>
    <ngb-carousel
      [showNavigationArrows]="false"
      [showNavigationIndicators]="false"
    >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            class="img-fluid"
            src="https://cdn.singulart.com/artists/pictures/cropped/studio/base/artist_studio_1647_86d10186556c5e046c57e679ab7e736e.jpeg"
          />
        </div>
        <div class="carousel-caption cover-img">
          <h3>SƠN DẦU | VIỆT NAM</h3>
          <h1>BÙI VĂN PHÁI</h1>
          <p>Born in 1948</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="container position-relative p-0">
    <div class="desc pb-5" data-aos="fade-up" *ngIf="!editDescription">
      <div
        class="edit-description-icon"
        placement="bottom"
        ngbTooltip="Chỉnh sửa"
        *ngIf="!editDescription"
        (click)="onEditDescription()"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
      <h1
        class="d-flex justify-content-between align-items-center best-pictures-header mb-5"
        *ngIf="!editDescription"
      >
        <hr style="background-color: grey; width: 150px; margin-right: 2rem" />
        Giới thiệu
        <hr style="background-color: grey; width: 150px; margin-left: 2rem" />
      </h1>

      <div class="row" *ngIf="!editDescription">
        <div class="col-sm-4 artist-background">
          <h3>Tiểu sử</h3>
          <p>
            {{ background }}
          </p>
        </div>
        <div class="col-sm-4 artist-background">
          <h3>Quan điểm nghệ thuật</h3>
          <p>
            {{ pointOfView }}
          </p>
          <br />
          <h3>Sự kiện nghệ thuật nổi bật</h3>
          <p>
            {{ events }}
          </p>
        </div>
        <div class="col-sm-4">
          <img
            src="https://cdn.singulart.com/artists/pictures/cropped/body/base/artist_body_1647_30201306009efd5afa7773aecde0f861.jpeg"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
    <div class="edit-des-form" data-aos="fade-up" *ngIf="editDescription">
      <form
        class="form"
        #editDescForm="ngForm"
        (ngSubmit)="saveEdittedDes(editDescForm)"
      >
        <div class="input-group">
          <textarea
            type="text"
            rows="4"
            name="background"
            [(ngModel)]="background"
          ></textarea>
          <label> <i class="fa fa-user mr-1"></i> Tiểu sử</label>
        </div>
        <div class="input-group">
          <textarea
            type="text"
            rows="4"
            name="pointOfView"
            [(ngModel)]="pointOfView"
          ></textarea>
          <label> <i class="fa fa-user mr-1"></i> Quan điểm nghệ thuật</label>
        </div>
        <div class="input-group">
          <textarea
            type="text"
            rows="4"
            name="events"
            [(ngModel)]="events"
          ></textarea>
          <label>
            <i class="fa fa-user mr-1"></i> Sự kiện nghệ thuật nổi bật</label
          >
        </div>
        <button type="submit" class="submit-btn mr-4">Cập nhật</button>
        <button
          type="button"
          class="submit-btn"
          (click)="onCancelEditDescription()"
        >
          Hủy bỏ
        </button>
      </form>
    </div>

    <div class="workflow position-relative">
      <span class="alt-line" data-aos="fade-down"></span>
      <span class="main-line"></span>
      <div class="workflow-item">
        <div class="row workflow-item-content">
          <div class="col-sm-6 pl-0 pr-5 pt-5 pb-5 workflow-image">
            <img
              src="https://musea.qodeinteractive.com/wp-content/uploads/2019/09/h1-time-line-img-1.jpg"
              class="img-fluid"
              data-aos="fade-right"
            />
          </div>
          <div class="col-sm-6 workflow-text">
            <span class="circle"></span>
            <span class="circle-line" data-aos="zoom-in"></span>
            <div class="year">2001</div>
            <div class="main-text" data-aos="fade-left">
              <span class="workflow-caption">History of the Museum</span>
              <h2>The Archive</h2>
              <span class="text"
                >Lorem ipsum dolor sit amet, consectetur adipisicing et elit, se
                sed do se eiusmod tempor incididunt ut labore et sa nes in
                dolore si magna aliqua. Ut enim ad minim veniam, in qu is
                nostrud e exercitation ullamco laboris nisi ut sen don nins
                aliquip ex ea commodo consequat. Duis aute irure do dolor eu est
                laborum. Sed ut perspic iatis unde omnis iste natus i error sit
                don eu fugiat est nulla duis aute.<br />
                Voluptatem accusantium doloremque laudantium, intota rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi no
                architecto beatae vitae dicta sunt explicabo men enim ipsam
                volupt</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="workflow-item">
        <div class="row workflow-item-content">
          <div class="col-sm-6 workflow-text">
            <span class="circle-2"></span>
            <span class="circle-line-2" data-aos="zoom-in"></span>
            <div class="year-2">2010</div>
            <div class="main-text" data-aos="fade-right">
              <span class="workflow-caption">Moving in</span>
              <h2>NEW HOME</h2>
              <span class="text"
                >Lorem ipsum dolor sit amet, consectetur adipisicing et elit, se
                sed do se eiusmod tempor incididunt ut labore et sa nes in
                dolore si magna aliqua. Ut enim ad minim veniam, in qu is
                nostrud e exercitation ullamco laboris nisi ut sen don nins
                aliquip ex ea commodo consequat. Duis aute irure do dolor eu est
                laborum. Sed ut perspic iatis unde omnis iste natus i error sit
                don eu fugiat est nulla duis aute.<br />
                Voluptatem accusantium doloremque laudantium, intota rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi no
                architecto beatae vitae dicta sunt explicabo men enim ipsam
                volupt</span
              >
            </div>
          </div>
          <div class="col-sm-6 pr-0 pl-5 pt-5 pb-5 workflow-image">
            <img
              src="https://musea.qodeinteractive.com/wp-content/uploads/2019/09/h1-time-line-img-2.jpg"
              class="img-fluid"
              data-aos="fade-left"
            />
          </div>
        </div>
      </div>
      <div class="workflow-item">
        <div class="row workflow-item-content">
          <div class="col-sm-6 pl-0 pr-5 pt-5 pb-5 workflow-image">
            <img
              src="https://musea.qodeinteractive.com/wp-content/uploads/2019/09/h1-time-line-img-3.jpg"
              class="img-fluid"
              data-aos="fade-right"
            />
          </div>
          <div class="col-sm-6 workflow-text">
            <span class="circle"></span>
            <span class="circle-line" data-aos="zoom-in"></span>
            <div class="year">2019</div>
            <div class="main-text" data-aos="fade-left">
              <span class="workflow-caption">Art & Science</span>
              <h2>EVENTS</h2>
              <span class="text"
                >Lorem ipsum dolor sit amet, consectetur adipisicing et elit, se
                sed do se eiusmod tempor incididunt ut labore et sa nes in
                dolore si magna aliqua. Ut enim ad minim veniam, in qu is
                nostrud e exercitation ullamco laboris nisi ut sen don nins
                aliquip ex ea commodo consequat. Duis aute irure do dolor eu est
                laborum. Sed ut perspic iatis unde omnis iste natus i error sit
                don eu fugiat est nulla duis aute.<br />
                Voluptatem accusantium doloremque laudantium, intota rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi no
                architecto beatae vitae dicta sunt explicabo men enim ipsam
                volupt</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <mat-expansion-panel hideToggle>
      <div class="workflow position-relative">
        <span class="alt-line"></span>
        <span class="main-line"></span>
        <div class="workflow-item">
            <div class="row workflow-item-content">
            <div class="col-sm-6 pl-0 pr-5 pt-5 pb-5 workflow-image">
              <img
                src="https://musea.qodeinteractive.com/wp-content/uploads/2019/09/h1-time-line-img-1.jpg"
                class="img-fluid"
                data-aos="fade-right"
              />
            </div>
            <div class="col-sm-6 workflow-text">
              <span class="circle"></span>
              <span class="circle-line"></span>
              <div class="year">2001</div>
              <div class="main-text" data-aos="fade-left">
                <span class="workflow-caption">History of the Museum</span>
                <h2>The Archive</h2>
                <span class="text"
                  >Lorem ipsum dolor sit amet, consectetur adipisicing et elit,
                  se sed do se eiusmod tempor incididunt ut labore et sa nes in
                  dolore si magna aliqua. Ut enim ad minim veniam, in qu is
                  nostrud e exercitation ullamco laboris nisi ut sen don nins
                  aliquip ex ea commodo consequat. Duis aute irure do dolor eu
                  est laborum. Sed ut perspic iatis unde omnis iste natus i
                  error sit don eu fugiat est nulla duis aute.<br />
                  Voluptatem accusantium doloremque laudantium, intota rem
                  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                  no architecto beatae vitae dicta sunt explicabo men enim ipsam
                  volupt</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="workflow-item">
            <div class="row workflow-item-content">
            <div class="col-sm-6 workflow-text">
              <span class="circle-2"></span>
              <span class="circle-line-2"></span>
              <div class="year-2">2010</div>
              <div class="main-text">
                <span class="workflow-caption">Moving in</span>
                <h2>NEW HOME</h2>
                <span class="text"
                  >Lorem ipsum dolor sit amet, consectetur adipisicing et elit,
                  se sed do se eiusmod tempor incididunt ut labore et sa nes in
                  dolore si magna aliqua. Ut enim ad minim veniam, in qu is
                  nostrud e exercitation ullamco laboris nisi ut sen don nins
                  aliquip ex ea commodo consequat. Duis aute irure do dolor eu
                  est laborum. Sed ut perspic iatis unde omnis iste natus i
                  error sit don eu fugiat est nulla duis aute.<br />
                  Voluptatem accusantium doloremque laudantium, intota rem
                  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                  no architecto beatae vitae dicta sunt explicabo men enim ipsam
                  volupt</span
                >
              </div>
            </div>
            <div class="col-sm-6 pr-0 pl-5 pt-5 pb-5 workflow-image">
              <img
                src="https://musea.qodeinteractive.com/wp-content/uploads/2019/09/h1-time-line-img-2.jpg"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="workflow-item">
            <div class="row workflow-item-content">
            <div class="col-sm-6 pl-0 pr-5 pt-5 pb-5 workflow-image">
              <img
                src="https://musea.qodeinteractive.com/wp-content/uploads/2019/09/h1-time-line-img-3.jpg"
                class="img-fluid"
              />
            </div>
            <div class="col-sm-6 workflow-text">
              <span class="circle"></span>
              <span class="circle-line"></span>
              <div class="year">2019</div>
              <div class="main-text">
                <span class="workflow-caption">Art & Science</span>
                <h2>EVENTS</h2>
                <span class="text"
                  >Lorem ipsum dolor sit amet, consectetur adipisicing et elit,
                  se sed do se eiusmod tempor incididunt ut labore et sa nes in
                  dolore si magna aliqua. Ut enim ad minim veniam, in qu is
                  nostrud e exercitation ullamco laboris nisi ut sen don nins
                  aliquip ex ea commodo consequat. Duis aute irure do dolor eu
                  est laborum. Sed ut perspic iatis unde omnis iste natus i
                  error sit don eu fugiat est nulla duis aute.<br />
                  Voluptatem accusantium doloremque laudantium, intota rem
                  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                  no architecto beatae vitae dicta sunt explicabo men enim ipsam
                  volupt</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button class="expand-button btn">Xem thêm</button>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel> -->
  </div>

  <div class="container" data-aos="fade-up">
    <h1
      class="d-flex justify-content-between align-items-center best-pictures-header"
    >
      <hr style="background-color: grey; width: 150px; margin-right: 2rem" />
      Các tác phẩm nổi bật
      <hr style="background-color: grey; width: 150px; margin-left: 2rem" />
    </h1>
    <div class="best-pictures">
      <div class="row" style="height: 550px">
        <div class="col-sm-4 h-100">
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/7079/main/fhd/699155_7a44ada093de4188001d2ee6acd716a1.jpeg"
            class="img-fluid h-100"
          />
        </div>
        <div class="col-sm-4 h-100 d-flex flex-column justify-content-between">
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/20719/main/fhd/689727_84868fb97cf1fd297c11970d59acff75.jpeg"
            class="w-100"
            height="250px"
          />
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/20719/main/fhd/689677_5cd51f20d4712d9dc2aed89c96957c08.jpeg"
            class="w-100"
            height="250px"
          />
        </div>
        <div class="col-sm-4 h-100">
          <img
            src="https://cdn.singulart.com/artworks/v2/cropped/7079/main/fhd/718427_fde03cd014615937c13d95335d329374.jpeg"
            class="img-fluid h-100"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <mdb-carousel
      class="review-wrapper"
      [animation]="'slide'"
      [interval]="'50000000000'"
    >
      <mdb-carousel-item>
        <div class="mask d-block w-100" data-aos="fade-up"></div>
        <div
          class="edit-quote-icon"
          placement="bottom"
          ngbTooltip="Chỉnh sửa"
          *ngIf="!editQuote"
          (click)="onEditQuote()"
          data-aos="fade-up"
        >
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div
          class="carousel-caption reviews"
          data-aos="fade-up"
          *ngIf="!editQuote"
        >
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="24.615px"
            height="18.233px"
            viewBox="0 0 24.615 18.233"
            enable-background="new 0 0 24.615 18.233"
            xml:space="preserve"
          >
            <g>
              <path
                fill="#4E4E4E"
                d="M19.542,0.007c-1.33,0.165-1.92,0.869-3,3.15v0.75c0,0,3.899,1.604,4.283,4.476
                                    c0.383,2.862-0.953,6.567-7.658,8.499v1.352c0,0,7.399-1.41,10.342-7.426C27.035,3.596,21.148-0.192,19.542,0.007z"
              ></path>
              <path
                fill="#4E4E4E"
                d="M6.375,0.007c-1.33,0.165-1.92,0.869-3,3.15v0.75c0,0,3.899,1.604,4.283,4.476
                                    C8.041,11.245,6.705,14.95,0,16.882v1.352c0,0,7.399-1.41,10.342-7.426C13.868,3.596,7.981-0.192,6.375,0.007z"
              ></path>
            </g>
          </svg>
          <p>
            {{ quote }}
          </p>
          <h6>{{ quoteAuthor }}</h6>
        </div>
        <div
          class="carousel-caption reviews"
          data-aos="fade-up"
          *ngIf="editQuote"
        >
          <form
            class="form"
            #editQuoteForm="ngForm"
            (ngSubmit)="saveEdittedQuote(editQuoteForm)"
          >
            <div class="input-group">
              <textarea
                type="text"
                rows="4"
                name="quote"
                [(ngModel)]="quote"
              ></textarea>
              <label for="loginUser">
                <i class="fa fa-user mr-1"></i> Danh ngôn yêu thích của
                bạn</label
              >
            </div>
            <div class="input-group">
              <input type="text" name="author" [(ngModel)]="quoteAuthor" />
              <label for="loginPassword"
                ><i class="fa fa-lock mr-1"></i> Tác giả</label
              >
            </div>
            <button type="submit" class="submit-btn mr-4">Cập nhật</button>
            <button
              type="button"
              class="submit-btn"
              (click)="onCancelEditQuote()"
            >
              Hủy bỏ
            </button>
          </form>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
