<div class="jumbotron jumbotron-fluid">
  <div
    class="container-fluid"
    style="padding-top: 9rem; padding-bottom: 5rem; max-width: 70%"
  >
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <h1
              class="animate__animated animate__fadeInUp d-flex justify-content-between align-items-center search-content"
            >
              <hr
                class="animate__animated animate__fadeInRight"
                style="background-color: grey; width: 100px; margin-right: 2rem"
              />
              {{ searchedContent ? searchedContent : "Tất cả tác phẩm" }}
              <hr
                class="animate__animated animate__fadeInLeft"
                style="background-color: grey; width: 100px; margin-left: 2rem"
              />
            </h1>
            <p class="search-result">{{ filteredList.length }} tác phẩm</p>
          </div>
          <div class="col-sm-12 mb-5">
            <mat-chip-list
              aria-label="Fish selection"
              *ngIf="searchedContent"
              class="mat-chip-container"
            >
              <mat-chip
                [selectable]="true"
                [removable]="true"
                (removed)="removeFilter()"
              >
                {{ searchedContent }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
          <app-product-item
            *ngFor="
              let picture of filteredList
                | picturefilter: searchParent
                | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
            "
            [picture]="picture"
            style="width: 33%"
          ></app-product-item>
        </div>
        <ngb-pagination
          class="d-flex justify-content-center"
          [pageSize]="30"
          [collectionSize]="80"
          [(page)]="page"
          [boundaryLinks]="true"
          (click)="ScrollOnTop()"
        ></ngb-pagination>
      </div>
      <div class="col-sm-3">
        <h1 style="opacity: 0; margin-bottom: 5rem">Search Bar</h1>
        <app-filter
          (searchTextChange)="searchParent = $event.value"
        ></app-filter>
      </div>
    </div>
  </div>
</div>
