.jumbotron {
  background-color: #f8f8f8 !important;
  padding: 0;
  margin: 0;
}

/* KHONG DUOC XOA PHAN NAY, DE THAM KHAO VE SAU */

/* .mat-form-field {
  margin-bottom: 3rem;
  width: 30%;
  padding: 0;
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
}
.mat-form-field .mat-select {
  font-family: "EB Garamond", serif;
}
.mat-option:hover {
  color: #c9ab81;
  background-color: transparent !important;
}
.mat-option.mat-active {
  background-color: transparent !important;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #c9ab81 !important;
  background-color: transparent !important;
}
::ng-deep .mat-option-text {
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
}
::ng-deep .mat-form-field-flex {
  background-color: rgba(0, 0, 0, 0) !important;
} */

::ng-deep ngb-pagination a.page-link {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  font-size: 1.3rem !important;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif !important;
}

::ng-deep .pagination .page-item.active .page-link {
  background-color: #c9ab81 !important;
  color: white !important;
}

h1.search-content {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  color: #525252;
  letter-spacing: 0.15rem;
  text-align: center;
}
p.search-result {
  margin-bottom: 1rem;
  font-family: "EB Garamond", serif;
  font-size: 1.3rem;
  text-align: center;
  color: #c9ab81;
  font-style: italic;
}

.mat-chip {
  font-family: "EB Garamond", serif;
  color: #525252;
  font-size: 1.2rem;
}
::ng-deep .mat-chip-container .mat-chip-list-wrapper {
  margin: 0 !important;
}
