p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "EB Garamond" !important;
}
.picture-item {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.picture-item:hover {
  transform: translateY(-10px);
}
.img-wrapper {
  width: 100%;
  height: 420px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 5px 5px 20px #bbb4b4;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  border: 4px solid black;
  padding: 0.5rem;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.info-wrapper {
  text-align: center;
}
.info-wrapper h5 {
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  color: #525252;
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  height: 45px;
}

a.view-more2 {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  position: relative;
  width: auto;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  font-family: open sans;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.07rem;
  color: white;
  padding: 8px 15px 10px;
  cursor: pointer;
  box-shadow: none !important;
  outline: none !important;
  text-align: center;
  border-radius: 0 !important;
}
a.view-more2 svg {
  position: absolute;
  top: 0;
  left: 0;
}
a.view-more2 svg rect {
  fill: transparent;
  stroke: #c9ab81;
  stroke-width: 2px;
  transition: 2s;
  stroke-dashoffset: 240%;
  stroke-dasharray: 330% 25;
}
a.view-more2 span {
  padding: 0;
  margin: 0;
}
a.view-more2:hover svg rect {
  stroke-dashoffset: -110%;
}
a.view-more2:hover {
  transition: all 0.4s ease-in-out;
}
.view-more2:hover span {
  color: black;
}

.pic-price-stars {
  position: relative;
}
.price-stars {
  transition: all 0.4s ease-in-out;
}
.overlay-info {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}
.picture-item:hover .overlay-info {
  opacity: 1;
  transform: translateY(0);
}
.picture-item:hover .price-stars {
  opacity: 0;
}

p.stars-wrapper {
  color: #c9ab81;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

/* heart icon */
.wish-list-icon {
  position: absolute;
  right: -3%;
  top: -3%;
  border-radius: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.fa-heart-o {
  font-size: 25px !important;
}

.picture-item:hover .wish-list-icon {
  opacity: 1;
}

.wish-list-icon:hover {
  color: white;
  background-color: #c9ab81;
  opacity: 0.8;
}
