<ul class="list-group social-media-icons mb-5">
  <li class="list-group-item">
    <i
      class="fa fa-facebook"
      placement="left"
      ngbTooltip="Share on Facebook"
    ></i>
  </li>
  <li class="list-group-item">
    <i
      class="fa fa-instagram"
      placement="left"
      ngbTooltip="Share on Instagram"
    ></i>
  </li>
  <li class="list-group-item">
    <i class="fa fa-twitter" placement="left" ngbTooltip="Share on Twitter"></i>
  </li>

  <li class="list-group-item">
    <i
      class="fa fa-pinterest"
      placement="left"
      ngbTooltip="Share on Pinterest"
    ></i>
  </li>
  <li class="list-group-item">
    <i class="fa fa-heart-o" placement="left" ngbTooltip="Add to Favourite"></i>
  </li>
  <li class="list-group-item">
    <i class="fa fa-plus" placement="left" ngbTooltip="Follow this artist"></i>
  </li>
</ul>

<div class="jumbotron jumbotron-fluid m-0 p-0" *ngIf="vendor">
  <div class="container p-0">
    <div class="row information">
      <div class="rounded-img avatar col-md-4">
        <img
          *ngIf="vendor.avatarURL ==''"
          src="https://cdn.singulart.com/artists/pictures/cropped/artwork/base/artist_artwork_1647_ba964e906901ecde5a3fc4496de3d90f.jpeg"
          class="rounded-circle"
          width="300px"
          height="310px"
          style="
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
            border: 3px solid black;
          "
        />
        <img
          *ngIf="vendor.avatarURL != ''"
          src="{{ vendor.avatarURL }}"
          class="rounded-circle"
          width="300px"
          height="310px"
          style="
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
            border: 3px solid black;
          "
        />
        <div class="change-avatar">
          <label for="file-upload">
            <i class="fa fa-camera mr-1" aria-hidden="true"></i>
          </label>
          <input
            #artistAvatar
            (change)="onUploadAvatar($event)"
            id="file-upload"
            type="file"
          />
        </div>
      </div>
      <ul class="list-group col-md-8" style="position: inherit">
        <li>
          <h1>
            {{ vendor.fullname }} <span class="role">{{ vendor.role }}</span>
          </h1>
        </li>
        <li>
          <div class="row information-year">
            <div class="birth-year"><b>Năm sinh: </b> 1999</div>
            <div class="dead-year"><b> Năm mất: </b> ???</div>
          </div>
        </li>
        <li><b>Số điện thoại: </b>{{ vendor.tel }}</li>
        <li><b>Facebook: </b> {{ vendor.facebookLink }}</li>
        <li><b>Tiểu sử:</b> {{ vendor.selfIntroduction }}</li>
      </ul>
    </div>
    <h2 class="artwork-header"><span>Tác Phẩm Tiêu Biểu</span></h2>

    <div class="row" *ngIf="pic_list.length != 0">
      <div class="col-md-4 mb-5 picture-item" *ngFor="let pic of pic_list">
        <div class="img-wrapper" [routerLink]="['/list', pic.id, pic.category, pic.title]" routerLinkActive="router-link-active" >
          <img
            src="{{ pic.imageURL }}"
            class="img-fluid"
          />
          <button
            class="edit-icon"
            placement="bottom"
            ngbTooltip="Chỉnh sửa"
            [routerLink]="['/console/artworks', pic.id, pic.category, pic.title,'edit-artwork']"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row empty-noti" *ngIf="pic_list.length == 0 ">
        <h4>{{vendor.role}} {{vendor.fullname}} chưa thêm tác phẩm nào vào mục này</h4>
    </div>
  </div>
</div>
