<div mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 user-signup jumbotron jumbotron-fluid">
        <!-- <div class="jumbotron jumbotron-fluid"> -->
        <img
          src="https://cdn.iconscout.com/icon/free/png-256/user-face-side-ui-man-avatar-interface-1-13251.png"
          alt=""
          width="100vw"
          height="100vh"
        />
        <div>
          <h2 class="user-signup-header">Tôi là người yêu nghệ thuật</h2>
          <div class="content">
            Tạo tài khoản để lưu lại những bức tranh yêu thích và nhận được
            những thông báo thú vị từ chúng tôi.
          </div>
          <a class="btn primary" (click)="onOpenSignUp()">Tạo tài khoản</a>
        </div>
        <hr />
        <div class="message">Bạn đã có tài khoản?</div>
        <div class="button">
          <a class="sign-in" (click)="onOpenlogin()">Đăng nhập</a>
        </div>
        <br /><br />
      </div>
      <!-- </div> -->
      <div class="col-md-6">
        <img
          src="https://image.flaticon.com/icons/png/512/224/224609.png"
          alt=""
          width="100vw"
          height="100vh"
        />
        <div>
          <h2 class="user-signup-header">Tôi là một họa sĩ</h2>
          <div class="content">
            Bạn có thể đăng ký ngay bây giờ, chúng tôi sẽ phản hồi trong thời
            gian sớm nhất
          </div>
          <a
            class="btn primary artist-side"
            (click)="close()"
            [routerLink]="['/vendor/register']"
            routerLinkActive="router-link-active"
            >Tạo tài khoản</a
          >
        </div>
        <hr style="border-color: #eeeeee !important" />
        <div class="message">Bạn đã là một họa sĩ của chúng tôi?</div>
        <div class="button" (click)="close()" [routerLink]="['console']">
          <a class="sign-in">Đăng nhập</a>
        </div>
        <br /><br />
      </div>
    </div>
  </div>
</div>
