<!-- <div class="dots-wrapper">
  <div class="dots">
    <div class="dot bounce-animation" id="dot-1"></div>
    <div class="dot bounce-animation" id="dot-2"></div>
    <div class="dot bounce-animation" id="dot-3"></div>
    <div class="dot bounce-animation" id="dot-4"></div>
  </div>
</div> -->

<div class="wrapper">
  <div class="main-content">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
    <div class="shape shape-4"></div>
  </div>
</div>
