/* .dots-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  background-color: white;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.dots {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
#dot-1 {
  background-color: #fe718d;
}
#dot-2 {
  background-color: #f47e60;
}
#dot-3 {
  background-color: #f8b26a;
}
#dot-4 {
  background-color: #abbd81;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce-animation {
  animation: bounce 1s infinite ease-in-out;
}
.bounce-animation#dot-1 {
  animation-delay: 0.1s;
}
.bounce-animation#dot-2 {
  animation-delay: 0.2s;
}
.bounce-animation#dot-3 {
  animation-delay: 0.3s;
}
.bounce-animation#dot-4 {
  animation-delay: 0.4s;
} */

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  background-color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main-content {
  position: relative;
  width: 30px;
  height: 30px;
  animation: rotation 1s infinite;
}
.main-content .shape {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.main-content .shape.shape-1 {
  left: 0;
  background-color: #4285f4;
}
.main-content .shape.shape-2 {
  right: 0;
  background-color: #34a853;
}
.main-content .shape.shape-3 {
  bottom: 0;
  background-color: #fbbc05;
}
.main-content .shape.shape-4 {
  bottom: 0;
  right: 0;
  background-color: #ea4335;
}
.main-content .shape-1 {
  animation: shape1 1.5s linear infinite;
}
.main-content .shape-2 {
  animation: shape2 1.5s linear infinite;
}
.main-content .shape-3 {
  animation: shape3 1.5s linear infinite;
}
.main-content .shape-4 {
  animation: shape4 1.5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes shape1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 36px);
  }
  50% {
    transform: translate(36px, 36px);
  }
  75% {
    transform: translate(36px, 0);
  }
}
@keyframes shape2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-36px, 0);
  }
  50% {
    transform: translate(-36px, 36px);
  }
  75% {
    transform: translate(0, 36px);
  }
}
@keyframes shape3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(36px, 0);
  }
  50% {
    transform: translate(36px, -36px);
  }
  75% {
    transform: translate(0, -36px);
  }
}
@keyframes shape4 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -36px);
  }
  50% {
    transform: translate(-36px, -36px);
  }
  75% {
    transform: translate(-36px, 0);
  }
}
