<div class="row px-5" style="border-radius: 5px">
  <div class="col-sm-5">
    <div class="img-blur-zoom-wrapper">
      <img
        src="https://cdn.singulart.com/artworks/v2/cropped/7079/main/fhd/718427_fde03cd014615937c13d95335d329374.jpeg"
        class="d-block w-100 rounded blur-zoom"
        style="height: 700px"
      />
    </div>
  </div>

  <div class="col-sm-7" style="align-self: center">
    <form
      class="acc-basic-info"
      #logInForm="ngForm"
      (ngSubmit)="onSubmitLogInForm(logInForm)"
    >
      <mat-form-field>
        <mat-label>Địa chỉ email</mat-label>
        <input
          matInput
          placeholder="example@example.com"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email.errors?.required">Trường bắt buộc</mat-error>
        <mat-error *ngIf="email.errors?.email"
          >Địa chỉ email không hợp lệ</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Mật khẩu</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          placeholder="bí mật"
          ngModel
          name="password"
          required
          #password="ngModel"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon style="font-size: larger">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="password.errors?.required">Trường bắt buộc</mat-error>
      </mat-form-field>
      <button
        type="submit"
        class="btn btn-warning mt-4 text-white next-step"
        [disabled]="logInForm.invalid"
      >
        Đăng nhập
      </button>
    </form>
  </div>
</div>
