<div class="jumbotron jumbotron-fluid">
  <div class="jumbotron">
    <div class="edit-des-form">
      <form class="form" (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <div class="row">
          <div class="col-sm-4 d-flex flex-column justify-content-center">
            <img
              *ngIf="previewURL != ''"
              src="{{ previewURL }}"
              class="workflow-image img-fluid"
              height="400px"
              width="100%"
            />
            <div class="change-workflow-image">
              <label for="file-upload" class="btn upload-btn mt-3"
                ><i class="fa fa-camera mr-1" aria-hidden="true"></i>
                Tải ảnh lên
              </label>
              <input
                #file
                id="file-upload"
                type="file"
                (change)="preview(file.files)"
                formControlName="imageURL"
              />
            </div>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <input
                type="text"
                formControlName="title"
                [(ngModel)]="picture.title"
              />
              <label>
                <i class="fa fa-bookmark" aria-hidden="true"></i> Tên tác
                phẩm</label
              >
            </div>
            <div class="input-group">
              <input
                type="text"
                formControlName="artist"
                [(ngModel)]="picture.artist"
              />
              <label> <i class="fa fa-user mr-1"></i> Họa sĩ</label>
            </div>
            <div class="input-group">
              <input
                type="text"
                formControlName="category"
                [(ngModel)]="picture.category"
              />
              <label>
                <i class="fa fa-list-ul" aria-hidden="true"></i> Thể loại</label
              >
            </div>
            <div class="input-group">
              <input
                type="text"
                formControlName="price"
                [(ngModel)]="picture.price"
              />
              <label>
                <i class="fa fa-usd" aria-hidden="true"></i> Giá (triệu
                đồng)</label
              >
            </div>
            <div class="input-group" style="margin-bottom: 1rem">
              <textarea
                type="text"
                rows="5"
                formControlName="description"
                style="margin-bottom: 0"
                [(ngModel)]="picture.description"
              ></textarea>
              <label>
                <i class="fa fa-pencil" aria-hidden="true"></i> Mô tả</label
              >
            </div>
            <p
              style="font-size: 1.2rem; text-align: right; color: #796a37"
              *ngIf="editForm.controls.description.value?.length <= 150"
            >
              Ít nhất 150 kí tự:
              {{ editForm.controls.description.value?.length || 0 }}/150
            </p>
            <div class="d-flex justify-content-center">
              <button type="submit" class="submit-btn mr-4" *ngIf="isEdit">
                Cập nhật
              </button>
              <button type="submit" class="submit-btn mr-4" *ngIf="!isEdit">
                Tạo sản phẩm
              </button>
              <button
                type="button"
                class="submit-btn"
                [routerLink]="['/console/artworks']"
              >
                Hủy bỏ
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
