<div class="container-fluid">
  <div
    class="position-relative d-flex justify-content-between mb-5 align-items-center"
  >
    <ul class="list-group d-flex flex-row">
      <li
        class="list-group-item"
        *ngFor="let tab of tabs; let id = index"
        (click)="
          tabActivated(tab, id);
          filteredByDropdownMenu('status', tab.filterContent);
          showDropdown(id)
        "
        [ngClass]="{ active: tab.active }"
      >
        {{ tab.name }}
      </li>
    </ul>
    <div class="search-box">
      <input
        #searchBox
        class="search-txt"
        type="text"
        placeholder="Search by name and email"
        (keyup)="filteredBySearchBox()"
      />
      <button class="search-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <table class="data-table">
    <tbody>
      <tr class="table-header">
        <td class="stt">#</td>
        <td class="username">User name</td>
        <td class="email">Email address</td>
        <td
          class="role position-relative"
          [ngStyle]="{ cursor: dropdownMenu ? 'pointer' : 'default' }"
        >
          Role
          <i
            class="fa fa-caret-down ml-2"
            aria-hidden="true"
            *ngIf="dropdownMenu"
          ></i>
          <div class="dropdown-content" id="role-dropdown" *ngIf="dropdownMenu">
            <a (click)="filteredByDropdownMenu('role', 'Collector')"
              >Collector</a
            >
            <a (click)="filteredByDropdownMenu('role', 'Artist')">Artist</a>
            <a (click)="filteredByDropdownMenu('role', 'User')">User</a>
            <a (click)="filteredByDropdownMenu('role', 'all')">Show all</a>
          </div>
        </td>
        <td
          class="status position-relative"
          [ngStyle]="{ cursor: dropdownMenu ? 'pointer' : 'default' }"
        >
          Status
          <i
            class="fa fa-caret-down ml-2"
            aria-hidden="true"
            *ngIf="dropdownMenu"
          ></i>
          <div
            class="dropdown-content"
            id="status-dropdown"
            *ngIf="dropdownMenu"
          >
            <a (click)="filteredByDropdownMenu('status', 'Pending Approval')"
              >Pending Approval</a
            >
            <a (click)="filteredByDropdownMenu('status', 'Pending Email')"
              >Pending Email</a
            >
            <a (click)="filteredByDropdownMenu('status', 'Approved')"
              >Approved</a
            >
            <a (click)="filteredByDropdownMenu('status', 'Denied')">Denied</a>
            <a (click)="filteredByDropdownMenu('status', 'all')">Show all</a>
          </div>
        </td>
        <td class="action">Action</td>
      </tr>
    </tbody>
  </table>

  <div
    class="tables-wrapper"
    *ngFor="
      let data of filteredData
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
      let id = index
    "
  >
    <table class="data-table">
      <tbody>
        <tr>
          <td class="stt">{{ id + 1 }}</td>
          <td class="username">{{ data.name }}</td>
          <td class="email">{{ data.email }}</td>
          <td class="role">{{ data.role }}</td>
          <td class="status">
            <button
              class="status-btn"
              [ngStyle]="{ 'background-color': getBgColor(data.status) }"
            >
              {{ data.status }}
            </button>
          </td>

          <td *ngIf="data.status === 'Approved'">
            <button placement="bottom" ngbTooltip="Edit" class="edit-icon">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button placement="bottom" ngbTooltip="Delete" class="delete-icon">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
          <td *ngIf="data.status === 'Denied'">
            <button placement="bottom" ngbTooltip="Delete" class="delete-icon">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
          <td
            *ngIf="
              data.status === 'Pending Email' ||
              data.status === 'Pending Approval'
            "
          >
            <button placement="bottom" ngbTooltip="Approve" class="edit-icon">
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </button>
            <button placement="bottom" ngbTooltip="Deny" class="delete-icon">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="position-relative">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="filteredData.length"
      class="d-flex justify-content-end"
      style="margin-top: 2rem; margin-right: 5rem"
    >
    </ngb-pagination>
    <p class="result" *ngIf="searchContent">
      You are searching for:
      <span class="highlight ml-2"
        >{{ searchContent }} -
        {{ filteredData.length }}
        {{ filteredData.length > 1 ? "results" : "result" }}</span
      >
    </p>
    <p class="result" *ngIf="!searchContent">
      Total: {{ filteredData.length }} members
    </p>
  </div>
</div>
