<div class="container-fluid">
  <i
    class="fa fa-times dialog-closer"
    style="
      color: #c9ab81;
      font-size: 2rem;
      position: fixed;
      right: 1rem;
      top: 1rem;
      z-index: 2;
    "
    (click)="close()"
  ></i>
  <div class="user-icon">
    <img
      src="https://cdn.iconscout.com/icon/free/png-256/user-face-side-ui-man-avatar-interface-1-13251.png"
      alt=""
      width="100vw"
      height="100vh"
    />
  </div>
  <h2>Tạo tài khoản</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Tên đăng nhập</mat-label>
      <input matInput placeholder="nDaniel" formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Địa chỉ email</mat-label>
      <input
        matInput
        placeholder="example@example.com"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mật khẩu</mat-label>
      <input
        formControlName="raw_password"
        [type]="hide ? 'password' : 'text'"
        matInput
        placeholder="bí mật"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <section class="checkbox">
      <mat-checkbox class="example-margin"
        >Bạn có chấp nhận <span>những điều khoản và dịch vụ</span> của chúng
        tôi?</mat-checkbox
      >
      <mat-checkbox class="example-margin"
        >Đăng ký để nhận những tin tức mới nhất</mat-checkbox
      >
    </section>
    <button class="btn primary" type="submit">Tạo tài khoản</button>
  </form>
  <hr style="border-color: #eeeeee !important" />
  <div class="message">Bạn đã có tài khoản?</div>
  <div class="button mb-4">
    <a class="sign-up" (click)="onOpenlogin()">Đăng nhập</a>
  </div>
</div>
