<div
  class="container-fluid p-0"
  style="margin-bottom: 11rem; position: relative; background-color: white"
>
  <div class="rounded-img circle-image">
    <img
      src="https://cdn.singulart.com/artists/pictures/cropped/artwork/base/artist_artwork_1647_ba964e906901ecde5a3fc4496de3d90f.jpeg"
      class="rounded-circle"
      width="230px"
      height="250px"
      style="
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
        border: 3px solid black;
      "
    />
  </div>
  <ngb-carousel
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
  >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="img-fluid"
          src="https://cdn.singulart.com/artists/pictures/cropped/studio/base/artist_studio_1647_86d10186556c5e046c57e679ab7e736e.jpeg"
        />
      </div>
      <div class="carousel-caption cover-img">
        <h3>SƠN DẦU | VIỆT NAM</h3>
        <h1>BÙI VĂN PHÁI</h1>
        <p>Born in 1948</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container-fluid position-relative py-5 lastest-artworks-container">
  <span class="vertical-line"></span>
  <h1 class="text-center best-pictures-header mb-5">Tác phẩm mới nhất</h1>
  <div class="lastest-artworks-wrapper d-flex justify-content-center px-5">
    <div
      class="artwork-item"
      data-aos="fade-up"
      *ngFor="
        let picture of picturesList
          | slice: picturesList.length - 5:picturesList.length
      "
    >
      <div class="img-wrapper">
        <img
          [src]="picture.imageLink"
          class="img-fluid"
          [routerLink]="[picture.id, picture.category, picture.title]"
          routerLinkActive="router-link-active"
        />
      </div>
      <div class="info-wrapper">
        <h5 class="pic-title">{{ picture.title }}</h5>
        <div class="pic-price-stars">
          <div class="price-stars">
            <p class="stars-wrapper">
              <i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star"></i>
            </p>
            <p
              class="product-price"
              style="
                font-family: EB Garamond, serif;
                font-size: 1.3rem;
                opacity: 0.7;
              "
            >
              {{ picture.price | currency: " ":"code":"3.0" }}
              <span>$</span>
            </p>
          </div>
          <div class="overlay-info">
            <button
              class="viewmore-icon"
              placement="bottom"
              ngbTooltip="Xem chi tiết"
              [routerLink]="[picture.id, picture.category, picture.title]"
              routerLinkActive="router-link-active"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            <button class="edit-icon" placement="bottom" ngbTooltip="Chỉnh sửa">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid position-relative pt-5 all-artworks-container"
  data-aos="fade-up"
>
  <span class="vertical-line" style="top: -5%"></span>
  <h1 class="text-center best-pictures-header mb-5">Tất cả tác phẩm</h1>
  <button class="add-new">
    <i class="fa fa-plus mr-2" aria-hidden="true"></i> Thêm tác phẩm mới
  </button>
  <mdb-carousel class="slides px-5" [animation]="'slide'" [interval]="50000000">
    <mdb-carousel-item *ngFor="let slide of pictureSlides; let i = index">
      <div
        class="artwork-item mb-5"
        *ngFor="let picture of slide; let picIndex = index"
      >
        <div class="img-wrapper">
          <img
            [src]="picture.imageLink"
            class="img-fluid"
            [routerLink]="[picture.id, picture.category, picture.title]"
            routerLinkActive="router-link-active"
          />
        </div>
        <div class="info-wrapper">
          <h5 class="pic-title">{{ picture.title }}</h5>
          <div class="pic-price-stars">
            <div class="price-stars">
              <p class="stars-wrapper">
                <i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i>
              </p>
              <p
                class="product-price"
                style="
                  font-family: EB Garamond, serif;
                  font-size: 1.3rem;
                  opacity: 0.7;
                "
              >
                {{ picture.price | currency: " ":"code":"3.0" }}
                <span>$</span>
              </p>
            </div>
            <div class="overlay-info">
              <button
                class="viewmore-icon"
                placement="bottom"
                ngbTooltip="Xem chi tiết"
                [routerLink]="[picture.id, picture.category, picture.title]"
                routerLinkActive="router-link-active"
              >
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <button
                class="edit-icon"
                placement="bottom"
                ngbTooltip="Chỉnh sửa"
              >
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="delete-icon" placement="bottom" ngbTooltip="Xóa">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<div
  class="container-fluid position-relative py-5 latest-artworks-sold-container"
  data-aos="fade-up"
>
  <span class="vertical-line"></span>
  <h1 class="text-center best-pictures-header mb-5">Tác phẩm đã bán</h1>
  <mdb-carousel class="slides px-5" [animation]="'slide'" [interval]="50000000">
    <mdb-carousel-item
      *ngFor="let slide of pictureSlides | slice: 2:4; let i = index"
    >
      <div
        class="artwork-item mb-5"
        *ngFor="let picture of slide; let picIndex = index"
      >
        <div class="img-wrapper position-relative">
          <img
            [src]="picture.imageLink"
            class="img-fluid"
            [routerLink]="[picture.id, picture.category, picture.title]"
            routerLinkActive="router-link-active"
          />
          <div class="sold">
            <h5>Đã bán</h5>
          </div>
        </div>
        <div class="info-wrapper">
          <h5 class="pic-title">{{ picture.title }}</h5>
          <div class="pic-price-stars">
            <div class="price-stars">
              <p class="stars-wrapper">
                <i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i>
              </p>
              <p
                class="product-price"
                style="
                  font-family: EB Garamond, serif;
                  font-size: 1.3rem;
                  opacity: 0.7;
                "
              >
                {{ picture.price | currency: " ":"code":"3.0" }}
                <span>$</span>
              </p>
            </div>
            <div class="overlay-info">
              <button
                class="viewmore-icon"
                placement="bottom"
                ngbTooltip="Xem chi tiết"
                [routerLink]="[picture.id, picture.category, picture.title]"
                routerLinkActive="router-link-active"
              >
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <button class="delete-icon" placement="bottom" ngbTooltip="Xóa">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
